# Основные зависимости
nltk==3.8.1
scikit-learn==1.4.1.post1
pandas==2.2.1
matplotlib==3.7.2
flask==3.0.2
pymorphy2==0.9.1
pymorphy2-dicts-ru>=2.4.404381.4453942

# Научные вычисления
numpy==1.26.4
scipy>=1.7.0

# Тестирование
pytest>=7.0.0
pytest-cov>=2.12.0

# Утилиты
setuptools>=57.0.0
wheel>=0.37.0

# Добавляем новые зависимости
transformers==4.38.2
sentence-transformers==2.2.2
torch==2.2.1
psutil==5.9.0 